<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NVAService.Properties.Settings.NVAComputerBaseConnectionString"
            connectionString="Data Source=SQLBACK-WIN12;Initial Catalog=NVAComputerBase;Persist Security Info=True;User ID=NVASevice;Password=bug"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>