<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NVAService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NVAService.Properties.Settings.NVAComputerBaseConnectionString"
            connectionString="Data Source=SQLBACK-WIN12;Initial Catalog=NVAComputerBase;Persist Security Info=True;User ID=NVASevice;Password=bug"
            providerName="System.Data.SqlClient" />
        <add name="NVAService.Properties.Settings.NVAComputerBaseConnectionString1"
            connectionString="Data Source=SQLBACK-WIN12;Initial Catalog=NVAComputerBase;Persist Security Info=True;User ID=sa;Password=bug"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <NVAService.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </NVAService.Properties.Settings>
    </userSettings>
</configuration>